#app div::-webkit-scrollbar {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 10px;
  background-color: transparent;
  padding: 1px;

  &:hover {
    background-color: #d8d8d8;
  }
}

#app div::-webkit-scrollbar-thumb {
  margin: 5px;
  border-radius: 5px;
  background-color: var(--chakra-colors-primary-500);
  border: 4px solid transparent;
  background-clip: content-box;
  transition: border 2s;

  &:hover {
    background-color: var(--chakra-colors-primary-600);
    border: 2px solid transparent;
  }
}